html {
    background-color: bisque;
}

.body {
    text-align: center;
}

.board-container {
    margin: auto;
    padding: 20px;
    background-color: rgb(228, 191, 146);
    border-radius: 10%;
}

.cell {
    width: 40px;
    height: 40px;
    overflow: hidden;
    font-size: 16px;
    background-color: rgb(125, 90, 57);
    text-align: center;
    border-radius: 10px;
    border: 1px solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.shown {
    background-color: indianred;
    width: 40px;
    height: 40px;
}


.header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    padding: 10px;
    margin-bottom: 0%;
    margin-top: 10px;
}

.buttons-container {
    text-align: center;
    padding: 10px
}

button {
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

footer {
    position: fixed;
    bottom: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.remaining-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lives {
    width: 20px;
    height: 20px;
    margin: 0 45px 0 10px
}

.heart {
    width: 50px;
    height: auto;
}

.heading {
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace
}

.mine {
    width: 2em;
    height: 2em;
}

.flag {
    width: 2em;
    height: 2em;
}

.game-status-img {
    text-align: center;
}

.smiley {
    border: solid;
    border-radius: 50px;
    background-color: rgb(205, 198, 198);
    width: 50px;
    height: auto;
}

/*timer*/
.timer-image{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    left: 55%;
    align-items: center;
    top: 155px;
    margin-left: 10px;
}

.timer-image img {
    width: 30px;
    height: auto;
 
}

h6{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    left: 58%;
    align-items: center;
    top: 130px;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*////////mines counter///////*/

.mines-count img{
    width: 90px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    left: 40%;
    align-items: center;
    top: 138px;
}

.text-mines{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    left: 38%;
    align-items: center;
    top: 175px;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*////////hints///////*/

.hints {
    width: 100px;
    height: auto;
}

.hints-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 100%;
    width: 100px;
    top: 0;
}

.centered-container {
    display: inline-block;
    position: relative;

}

.wrapper {
    text-align: center;

}

/*in right buttons*/

.right-buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    left: 100%;
    align-items: center;
    top: 10px;
    margin-left: 10px;
}

.exterminator {
    margin-bottom: 10px;
    width: 150px;
}


.dark-mode {
    margin-bottom: 10px;
    width: 150px;

}


/*safe click*/
.safe-click-button {
    margin-bottom: 0%;
    width: 150px;
}

.safe-click-text {
    margin-top: 0%;
    margin-bottom: 0%;
    width: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.safe-cell-mode {
    background-color: cornflowerblue;
}

/*mega hint*/

.mega-hint {
    margin-top: 0%;
    margin-bottom: 10px;
    width: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}